<h2><%= @global_issue_template.new_record? ?
            l(:label_issue_template_new) :
            l(:label_issue_template_edit) %></h2>
<%= error_messages_for @global_issue_template %>
<%= labelled_form_for @global_issue_template do |f| %>
  <div class="box tabular">
    <fieldset>
      <legend><%= l(:label_global_issue_template) %></legend>
      <p>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.text_area :content %>
      </p>
      <%= submit_tag l(:button_save) %>
      <%= link_to l(:button_cancel), global_issue_templates_path %>
    </fieldset>
  </div>
  <%= javascript_tag do %>
    jQuery(document).ready(function($){
      $('#global_issue_template_title').focus();
    });
  <% end %>
<% end %>
