<h2><%= @global_issue_template.new_record? ?
            l(:label_issue_template_new) :
            l(:label_issue_template_edit) %></h2>
<%= labelled_form_for @global_issue_template do |f| %>
  <%= error_messages_for @global_issue_template %>
  <div class="box tabular">
    <p>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.text_area :content %>
    </p>
    <%= submit_tag l(:button_save) %>
  </div>
  <%= javascript_tag do %>
    jQuery(document).ready(function($){
      $('#issue_template_title').focus();
    });
  <% end %>
<% end %>
