<%= error_messages_for project_issue_template %>
<%= labelled_form_for project_issue_template, :url => url do |f| %>
  <div class="box tabular">
    <fieldset>
      <legend><%= l(:label_project_issue_template) %></legend>
      <p>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.text_area :content %>
      </p>
      <%= submit_tag l(:button_save) %>
      <%= link_to l(:button_cancel),
                  settings_project_path(@project, :tab => 'issue_templates') %>
    </fieldset>
  </div>
  <%= javascript_tag do %>
    jQuery(document).ready(function($){
      $('#project_issue_template_title').focus();
    });
  <% end %>
<% end %>
