<% if @project.issue_templates.any? || GlobalIssueTemplate.any? %>

  <table class="list">
    <tbody>

    <% if GlobalIssueTemplate.any? %>
      <tr class="issue-templates-header">
        <td colspan="4"><h3><%= l( :label_global_issue_templates ) %></h3></td>
      </tr>
      <%= render :partial => 'project_issue_templates/global_issue_templates',
                 :locals => { :global_templates => GlobalIssueTemplate.by_position } %>
      <tr class="issue-templates-divider">
        <td colspan="4"></td>
      </tr>
    <% end %>

    <% if @project.issue_templates.any? %>
      <tr class="issue-templates-header">
        <td colspan="4"><h3><%= l( :label_project_issue_templates ) %></h3></td>
      </tr>
      <%= render :partial => 'project_issue_templates/project_issue_templates',
                 :locals => { :project_templates => @project.issue_templates.by_position } %>
    <% end %>

    </tbody>
  </table>

<% else %>
  <p class="nodata"><%= l( :label_no_data ) %></p>
<% end %>

<p>
  <%= link_to_if_authorized l( :label_issue_template_new ),
                            {
                                :controller => 'project_issue_templates',
                                :action => 'new',
                                :project_id => @project.id
                            },
                            :class => 'icon icon-add' %>
</p>
