<% html = capture do %>
<div class='insertTemplate' style="margin-bottom: 15px; margin-left: -180px;">
  <label style="margin-left: 0; margin-right: 5px;"><%= l(:label_issue_template_insert) %></label>
  <select id="template_selector">
    <%= issue_templates_options %>
  </select>
  <input type="button" value="<%= l(:label_issue_template_insert) %>" class="insert_template_button"/>
</div>
<% end %>

<%= javascript_tag do %>
  jQuery(document).ready(function($) {
    $('#issue_description_and_toolbar').append('<%= escape_javascript(html) %>');
  });
<% end %>
