<div class="contextual">
<%= link_to l(:label_issue_template_new), {:action => 'new'}, :class => 'icon icon-add' %>
</div>

<h2><%=l(:label_issue_template_plural)%></h2>
 
<table class="list">
  <thead>
    <tr>
      <th><%=l(:field_title)%></th>
      <th><%= l(:field_content) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @issue_templates.each do |issue_template| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to h(issue_template.title), {:action => :edit, :id => issue_template.id} %></td>
    <td><%= simple_format h(issue_template.content) %></td>
    <td>
     <%= link_to(l(:button_delete), { :action => 'destroy', :id => issue_template },
    															 :method => :delete,
    															 :confirm => l(:text_are_you_sure),
    															 :class => 'icon icon-del') %>     
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<% if false %>
  <% if Issue.use_status_for_done_ratio? %>
  <td><%= link_to status.name, :action => 'edit', :id => status %></td>
  <td align="center"><%= h status.default_done_ratio %></td>
  <% end %>
  <td align="center"><%= checked_image status.is_default? %></td>
  <td align="center"><%= checked_image status.is_closed? %></td>
  <td align="center" style="width:15%;"><%= reorder_links('issue_status', {:action => 'update', :id => status}) %></td>
  <td class="buttons">
    <%= link_to(l(:button_delete), { :action => 'destroy', :id => status },
    															 :method => :post,
    															 :confirm => l(:text_are_you_sure),
    															 :class => 'icon icon-del') %>
                                 </td>
<% end %>
